<?xml version="1.0"?>
<!-- Start Vollo teleop. -->

<!-- Launch of teleop keyboard  -->

<launch>

    <node pkg="teleop_twist_keyboard" type="leleop_twist_keyboard.py" name="leleop_node"/>
    <node name="rviz" pkg="rviz" type="rviz" output="screen"/>
    <!-- falta incluir no args do rviz -d mais o caminho do arqui salvo com as configurações da inicialização do Rviz (pasta config)-->

</launch>